:root {
  --white: #ffffff;
  --primary: #15a1fc;
  --grey: #8899a6;
  --border: #2f3336;
}
/* Common */
.timeline-Tweet-brand,
.TweetAuthor-decoratedName,
.timeline-Tweet-media,
.timeline-Tweet-metadata {
  display: none !important;
}
/* Body text */
.timeline-Tweet-text {
  color: var(--white);
  font-family: 'Helvetica Neue';
  font-weight: 400 !important;
  font-size: 12px !important;
  line-height: 14px !important;
}
.env-bp-min .timeline-Tweet-text,
.env-bp-min .timeline-Tweet-inReplyTo {
  margin-left: 40px !important;
}
/* Links */
.timeline-Tweet-text > a {
  color: var(--primary) !important;
}
/* Author */
.TweetAuthor {
  display: flex;
  align-items: center;
}
.TweetAuthor-screenName {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-family: 'Helvetica Neue';
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  color: var(--grey);
}
.TweetAuthor-screenName:before {
  content: '☻';
  font-family: 'Helvetica Neue';
  font-weight: 700;
  font-size: 15px;
  line-height: 18px;
  padding-right: 5px;
  color: var(--white);
}
.TweetAuthor__time {
  font-family: 'Helvetica Neue';
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  color: var(--grey);
}
.TweetAuthor__time:before {
  content: '·';
  padding: 0 5px;
}
/* Tweet block */
.timeline-TweetList-tweet + .timeline-TweetList-tweet {
  border-top: 1px solid var(--border) !important;
}
.timeline-Tweet {
  padding: 10px 15px !important;
  cursor: default;
}
.timeline-Tweet:hover {
  background: transparent;
}
/* Bottom buttons */
.timeline-Tweet-actions > li {
  height: 1rem;
}
.timeline-ShareMenu .Icon {
  transform: rotate(-90deg);
}
