@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  /* Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}

.loading-pause:hover {
  animation-play-state: paused;
}

html {
  background-color: #0d0030;
  scrollbar-color: #fed823 transparent;
  scrollbar-width: thin;
  background-size: 100% auto, 100% auto, 3rem 3rem;
  background-repeat: no-repeat, no-repeat, repeat;
  background-position: top, top, 0;
  background-image: url('/img/bg-shadows-top.webp'),
    url('/img/bg-shadows-bottom.webp'),
    conic-gradient(from 90deg at 0.06rem 0.06rem, #0d0030 90deg, #1a0259 0);
}

body {
  overflow: overlay;
  scroll-behavior: smooth;
  margin: 0;
  min-height: 100vh;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'JetBrains Mono', monospace;
  color: #efecd6;
}

/* slightly transparent fallback */
.blurEffect {
  position: relative !important;
}
.blurEffect + .blockchainTweets {
  display: none;
}

/* if backdrop support: very transparent and blurred */
@supports ((-webkit-backdrop-filter: none) or (backdrop-filter: none)) {
  .blurEffect {
    position: absolute !important;
  }
  .blurEffect:first-child {
    background-color: rgba(13, 0, 48, 0.1);
    -webkit-backdrop-filter: blur(0.625rem);
    backdrop-filter: blur(0.625rem);
    box-shadow: none;
  }
  .blurEffect + .blockchainTweets {
    display: block;
  }
}

@media screen and (max-width: 600px) {
  /* Grid for mobiles */
  html {
    background: conic-gradient(
        from 90deg at 0.06rem 0.06rem,
        #0d0030 90deg,
        #1a0259 0
      )
      0 0/2rem 2rem;
  }
}

::selection {
  background: #ff7bed35;
}
::-moz-selection {
  background: #ff7bed35;
}

/* Scrollbar */
::-webkit-scrollbar {
  width: 15px;
}
::-webkit-scrollbar-thumb {
  background: #fed823;
  border-radius: 20px;
  background-clip: content-box;
  border: 5px solid transparent;
}
::-webkit-scrollbar-thumb:hover {
  background: #fed950;
  border-radius: 20px;
  background-clip: content-box;
  border: 4px solid transparent;
}

/* Wallet select menu for dark and light theme */
.web3modal-modal-lightbox {
  z-index: 100 !important;
}
