@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  background-color: #0d0030;
  scrollbar-color: #fed823 transparent;
  scrollbar-width: thin;
}

body {
  scroll-behavior: smooth;
  margin: 0;
  min-height: 100vh;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'JetBrains Mono', monospace;
  color: #efecd6;
  /* Grid */
  background: conic-gradient(
      from 90deg at 0.06rem 0.06rem,
      #0d0030 90deg,
      #1a0259 0
    )
    0 0/3rem 3rem;
}

/* Grid for mobiles */
@media screen and (max-width: 600px) {
  body {
    background: conic-gradient(
        from 90deg at 0.06rem 0.06rem,
        #0d0030 90deg,
        #1a0259 0
      )
      0 0/2rem 2rem;
  }
}
