@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  /* Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}

.loading-pause:hover {
  animation-play-state: paused;
}

:root {
  --black-background: #040404;
  --background-purpose: #12141d;
  --perk-gradient-light: rgba(4, 6, 14, 0.9);
  --perk-gradient-dark: #04060e;

  --orb: #ffffff;
  --accent: #fed823;
  --accent-hover: #fed950;
  --primary: #15a1fc;
  --secondary: #ff7bed;
  --tertiary: #01feb6;
  --formal-accent: #efecd6;
  --formal-accent-dimmed: '#efecd680';
  --light-grey: '#8899A6';
  --half-grey: '#505050';

  --error: #ff7b83;
  --error-dark: #3e1b1e;

  --primary-dark: #0d0030;
  --primary-light: #bff5fa;
  --primary-dimmed: #3a00d6;
  --primary-semi-dimmed: #4b61d5;
  --primary-background: #1a0259;
  --primary-dark-red: #210030;

  --accent-light-transparent: #ff7bed69;
  --secondary-light-transparent: #fed82369;
  --accent-light-active-transparent: #ff7bed9e;
  --secondary-light-active-transparent: #fed8239e;

  --accent-semi-transparent: rgba(254, 216, 35, 0.4);
  --primary-semi-transparent: rgba(21, 161, 252, 0.5);
  --secondary-semi-transparent: rgba(255, 123, 237, 0.5);
  --tertiary-semi-transparent: rgba(1, 254, 182, 0.4);
  --formal-accent-semi-transparent: rgba(239, 236, 214, 0.4);
  --error-semi-transparent: rgba(255, 123, 131, 0.2);
  --selection: #ff7bed35;
  --blur-background: rgba(13, 0, 48, 0.1);
}

html {
  background-color: var(--primary-dark);
  scrollbar-color: var(--accent) transparent;
  scrollbar-width: thin;
  background-size: 100% auto, 100% auto, 3rem 3rem;
  background-repeat: no-repeat, no-repeat, repeat;
  background-position: top, top, 0;
  background-image: url('/img/bg-shadows-top.webp'),
    url('/img/bg-shadows-bottom.webp'),
    conic-gradient(
      from 90deg at 0.06rem 0.06rem,
      var(--primary-dark) 90deg,
      var(--primary-background) 0
    );
}

body {
  overflow: overlay;
  scroll-behavior: smooth;
  margin: 0;
  min-height: 100vh;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'JetBrains Mono', monospace;
  color: var(--formal-accent);
}

/* slightly transparent fallback */
.blurEffect {
  position: relative !important;
}
.blurEffect + .blockchainTweets {
  display: none;
}

/* if backdrop support: very transparent and blurred */
@supports ((-webkit-backdrop-filter: none) or (backdrop-filter: none)) {
  .blurEffect {
    position: absolute !important;
  }
  .blurEffect:first-child {
    background-color: var(--blur-background);
    -webkit-backdrop-filter: blur(0.625rem);
    backdrop-filter: blur(0.625rem);
    box-shadow: none;
  }
  .blurEffect + .blockchainTweets {
    display: block;
  }
}

@media screen and (max-width: 600px) {
  /* Grid for mobiles */
  html {
    background-color: var(--primary-dark);
    background-size: 2rem 2rem;
    background-repeat: repeat;
    background-position: 0;
    background-image: conic-gradient(
      from 90deg at 0.06rem 0.06rem,
      var(--primary-dark) 90deg,
      var(--primary-background) 0
    );
  }
}

::selection {
  background: var(--selection);
}
::-moz-selection {
  background: var(--selection);
}

/* Scrollbar */
::-webkit-scrollbar {
  width: 15px;
}
::-webkit-scrollbar-thumb {
  background: var(--accent);
  border-radius: 20px;
  background-clip: content-box;
  border: 5px solid transparent;
}
::-webkit-scrollbar-thumb:hover {
  background: var(--accent-hover);
  border-radius: 20px;
  background-clip: content-box;
  border: 4px solid transparent;
}

/* Wallet select menu for dark and light theme */
.web3modal-modal-lightbox {
  z-index: 100 !important;
}
